<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Subscription Cancelled</h1>
    <p>
      Your subscription has been cancelled.
    </p>
    <p>
      We are sorry to see you go. We'd love to have you back. 
      Visit example.com anytime to create a new subscription.
    </p>
  </body>
</html>