<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Charge Succeeded</h1>
    <p>
      Your credit card has been successfully charged.
      <br />
      Stripe.com will be providing you a formal receipt.
    </p>
    <p>
      Thank you for your continuing support. 
      <br />
      <br />
      The Crew at example.com
    </p>
  </body>
</html>