<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h4>Products Listed</h4>
    <p><%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %></p>
</div>
