<%# updated for Bootstrap 3.1 %>
<div class="scaffoldform" role="form" aria-label="scaffoldform">
  <%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
    <%%= f.error_notification %>

    <div class="form-inputs">
    <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    <%- end -%>
    </div>

    <div class="form-control">
      <%%= f.button :submit %>
    </div>
  <%% end %>
</div>