<div class="page-header">
	<h1>Organizations</h1>
</div>
<div class="row">
<% @organizations.each do |organization| %>
  <div class="col-md-4 well">
  <p align="center"><%= link_to organization.name, organization.url, :target => "_blank" %></p>
  </div>
<% end %>
</div>
