<div class="page-header">
	<h1><%= @category.nil? ? 'Categories' : @category.name %></h1>
</div>
<div class="row">
<% @categories.each do |category| %>
<div class="col-md-3 well">
  <p><%= link_to category.name, category_path(category) %></p>
  <ul>
  	<% category.subcategories.each do |subcategory| %>
  		<li><%= link_to subcategory.name, category_path(subcategory) %></li>
	<% end %>
  </ul>
  </div>
<% end %>
</div>

<%= link_to 'Back', @category.parent_id.nil? ? categories_path : category_path(@category.parent_id) unless @category.nil? %> 