<h1>Content#silver</h1>
<h4>Products Offered</h4>
  <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
<h6>Find me in app/views/content/silver.html.erb</h6>
